<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>LOGIN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center align-items-center>

    <img src="assets/imgs/logo.png">


    <form [formGroup]="loginForm" (ngSubmit)="submitLogForm()" id="login-form">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <button ion-button type="submit" block [disabled]="!loginForm.valid">Login</button>
      <a href="javascript:void(0);" (click)="openPage('forgot');">Forgot Password</a>
    </form>
  </ion-row>
  </ion-grid>
</ion-content>
