page-survey-edit {
    .hidden-fields{
        display:none;
    }
    .visible-fields{
        display:block;
        transition: all 2s linear;
    }
    .logout-button{
        margin-top:-26px;
    }
    .survey-app-progress{
        margin-top:5px;
    }
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: inherit;
        font-weight: normal;
        line-height: 1;
        color: #000;
        text-align: initial;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
   ion-content ion-grid ion-row ion-list ion-item ion-label{
    white-space: pre-line!important;
   }
   .questionTitle.label-md[stacked],.questionTitle.label-ios[stacked]{
    font-size:25px;
    color:#51628C;
    white-space: normal;
    display: inline-block;
}
.questionSubtitle.label-md[stacked],.questionSubtitle.label-ios[stacked]{
    font-size:20px;
    color:#51628C;
    white-space: normal;
    display: inline-block;
}
.input-wrapper ion-input input.text-input.text-input-md,.input-wrapper ion-input input.text-input.text-input-ios{
    font-size:18px;
}
.item-radio.item-md ion-label,.item-radio.item-ios ion-label{
    font-size:18px;
}
.checkbox-md + .item-inner ion-label,.checkbox-ios + .item-inner ion-label{
    font-size:18px;
}
.item-md p,.item-ios p{
    font-size:18px;
}
.item-range ion-range ion-label,.range-ios [range-left]{
    font-size:18px;
}

.progress {
height: 20px;
margin-bottom: 20px;
background-color: rgb(245, 245, 245);
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px inset;
overflow: hidden;
border-radius: 4px;
}
.progress-bar {
float: left;
width: 0;
height: 100%;
font-size: 12px;
line-height: 20px;
color: #fff;
text-align: center;
background-color: #337ab7;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
-webkit-transition: width .6s ease;
-o-transition: width .6s ease;
transition: width .6s ease;
}
.progress-bar-success {
    background-color: #5cb85c;
}
ion-content div.scroll-content{
    margin-top:0 !important;
}
.content-based-question .input-wrapper ion-label.label p p{
    white-space: normal;
}
}
