<!--
  Generated template for the SubmissionlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>Submissions </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of userSubmissionArr;let i=index" (click)="openDetailPage(item,i);">
        <ion-label>{{item.name}} </ion-label>
        <ion-badge color="percentage" item-end>{{(percentage[i]==100)?'Completed':percentage[i]+'%'}}</ion-badge>
        <ion-icon name="eye" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
