page-submissionlist {
    .logout-button{
        margin-top:-26px;
    }
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: inherit; 
        font-weight: normal; 
        line-height: 1;
        color: #000;
        text-align: initial;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
}
