
<ion-header>
  <ion-navbar color="light">
    <ion-title>Decide Together</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-grid>
  <ion-row justify-content-center align-items-center>
      <img src="assets/imgs/logo.png">
  <button ion-button block (click)="openPage('login');">Login</button>
  <button ion-button block (click)="openPage('register');">Register</button>
  </ion-row>
  </ion-grid>
</ion-content>
