.error-toastr .toast-wrapper.toast-top{
    background-color:red;
}
.success-toastr .toast-wrapper.toast-top{
    background-color:green;
}
page-register{
    ion-content.content.content-md div.scroll-content{
        margin-top:0 !important;
    }
}

