<!--
  Generated template for the RegisterationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >

  <ion-grid>
    <ion-row justify-content-center align-items-center>
    <img src="assets/imgs/logo.png">

    <form [formGroup]="signupForm" (ngSubmit)="logForm()">
      <ion-item>
        <ion-input type="text" placeholder="Username" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <button ion-button type="submit" block [disabled]="!signupForm.valid">Register</button>
    </form>
  </ion-row>
</ion-grid>
</ion-content>
